.app__container {
    padding: 36px 0;
}

.product__content {
    background-color: white;
    padding: 36px 0;
}

.product__img {
    text-align: center;
}

.product__img img {
    width: 400px;
}

.product__info {
    padding: 12px 36px;
}

.info__header {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0;
    vertical-align: sub;
    max-height: 5.2rem;
    line-height: 2.6rem;
    overflow: hidden;
    font-size: 2rem;
    word-wrap: break-word;
}

.info__header--admin {
    display: flex;
    align-items: center;
}

.info__header--admin .header__name {
    flex: 1;
    padding: 4px 16px;
    outline: none;
    margin-left: 16px;
}

.header__favorite {
    display: inline-flex;
    line-height: 1;
    font-size: 1.2rem;
    color: var(--white-color);
    padding: 4px;
    background-color: var(--primary-color);
    margin-right: 6px;
    border-radius: 2px;
    vertical-align: middle;
}

.info__price {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    margin: 36px 0 0 0;
    padding: 20px;
}

.info__price--admin {
    margin: 36px 0;
    font-size: 2rem;
    background-color: unset;
    padding: unset;
}

.info__price--admin .header__price {
    flex: 1;
    margin-left: 16px;    
    padding: 4px 16px;
    outline: none;
}

.price__old {
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #929292;
    margin-right: 10px;
}

.price__new {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 2.2rem;
    margin-right: 10px;
}

.price__discount {
    display: inline-flex;
    line-height: 1;
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 4px;
    background-color: var(--primary-color);
    margin-right: 6px;
    border-radius: 2px;
}

.info__quantity {
    display: flex;
    align-items: center;
    padding: 36px 0;
    font-size: 1.6rem;
}

.info__quantity--admin {
    padding: 0 0 36px 0;
    font-size: 2rem;
}

.quantity__text {
    color: var(--text-color);
    margin-right: 20px;
}

.info__quantity input {
    text-align: center;
    height: 50%;
    outline: none;
}

.info__description {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin: 0;
    vertical-align: sub;
    max-height: 12rem;
    line-height: 2.2rem;
    overflow: hidden;
    font-size: 1.6rem;
    word-wrap: break-word;
}

.info__description--admin {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.info__description--admin .description__info {
    flex: 1;
    padding: 4px 16px;
    outline: none;
    font-size: 2rem;
    margin-left: 16px;
}

.description__info {
    color: var(--text-color);
    font-size: 1.4rem;
}

.info__brand--admin {
    padding-top: 36px;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.brand__info{
    margin-left: 16px;
    padding: 4px 16px;
    outline: none;
    flex: 1;
}

.info__warranty {
    display: flex;
    align-items: center;
    padding: 36px 0 0 0;
}

.info__warranty--admin {
    font-size: 2rem;
}

.info__warranty--admin .warranty__text {    
    font-size: 2rem;
}

.info__warranty--admin .warranty__time {
    padding: 4px 16px;
    outline: none;
    font-weight: 400;
    margin-bottom: unset;
    text-align: center;
}

.info__warranty--admin .warranty__year {
    display: inline-flex;
    margin-left: 16px;
}

.warranty__text {
    padding-right: 16px;
    font-size: 1.6rem;
}

.warranty__time {
    margin-bottom: 4px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.warranty__year {
    display: none;
    color: var(--primary-color);
}

.info__button {
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.info__button--admin {
    font-size: 1.6rem;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 48px;
}

.button__add-cart {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.4rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: #d1a9b5;
    margin-right: 16px;
}

.icon-add-to-cart {
    height: 20px;
    stroke: var(--primary-color);
    padding-right: 8px;
}

circle {
    fill: var(--primary-color);
}

.button__update {
    margin-right: 36px;
}

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */